[pause_resume]

[gcode_macro COME_OVER_HERE]
gcode:
    G90
    G0 X60 Y5 F3600
    G91
    G1 Z+25 F6000
    G90

[gcode_macro MOTORS_OFF]
gcode:
    M84
    
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 120    #edit to your park position
default_parameter_Y: 120    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    LED_STATUS_ORANGE

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME
    LED_STATUS_WHITE

[gcode_macro TURN_OFF_FANS]
gcode:
    M107                           ; turn off fan

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    LED_STATUS_RED
    TURN_OFF_HEATERS
    TURN_OFF_FANS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
##########################
##########################

[gcode_macro PURGE_LINE]
gcode:

    G90                                ; Use absolute coordinates
    G1 X30.0 Y0.5 Z0.2 E1.5 F2800      ; move to position for purge line
    G1 X60.0 E3.0 F1000                ; start purge line
    G1 X90.0 E7.0 F1000                ; finish purge line
    G1 Z1.5 F3600
    G92 E0           
    G1 X93.0 Z0.1 E-0.3 F2800         
    G1 X100.0 Y0.5 Z5.0 F3600          ; move nozzle away from bed


[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 190

gcode:
    LED_STATUS_WHITE       ; Turn on lights
    M140 S{BED_TEMP}       ; Start bed heating
    M104 S{EXTRUDER_TEMP}  ; Start nozzle Heating
    G90                    ; Use absolute coordinates
    SET_GCODE_OFFSET Z=0.0 ; Reset the G-Code Z offset (adjust Z offset if needed)
    G28                    ; Home the printer
    # Move the nozzle near the bed
    G1 Z20 F3000
    # Move the nozzle very close to the bed
    G1 Z5 F300
    # Wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    #
    PURGE_LINE

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-1 F3600                   ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

;    G0 Z{z_safe} F3600    ; move nozzle up
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
    
    SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable Pressure Advance

    LED_STATUS_GREEN
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E310 F1800                  ; quickly load filament to down bowden
   G1 E30 F300                    ; slower extrusion for hotend path
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-380 F1800                 ; retract filament completely
   M82                            ; set extruder to absolute

#[gcode_macro SELECT_PA]
#default_parameter_NOZZLE: 0.4
#default_parameter_FILAMENT: None
#
#variable_pa_PETGExtrudrWhite0.8: 0.035
#variable_pa_PETGExtrudrWhite0.6: 0.0535
#variable_pa_ABSPEsunBlack0.6: 0.0535
#
#gcode:
#  {% set pavar = ('pa_' + FILAMENT + NOZZLE)|lower %} 
#  {% if pavar in printer["gcode_macro SELECT_PA"] %}
#    SET_PRESSURE_ADVANCE ADVANCE={printer["gcode_macro SELECT_PA"][pavar]}
#  {% else %}
#    SET_PRESSURE_ADVANCE ADVANCE=0
#  {% endif %}