:root {
   --Primary:     #d4af37;    /*Old Gold*/
   --Secondary:   #C5A028;    /*(Hokey Pokey)*/
   --Red:         #9c2542;    /*(Big Dip O Ruby)*/
   --Orange:      #FF7F00;    /*(Color Wheel)*/
   --Warnings:    #FF7F00;    /*(Color Wheel)*/
   --Green:       #4F7942;    /*(Fern Green)*/
}

.theme--dark.v-icon {
   color: var(--Primary);
}
nav ul.navi .nav-link>i.v-icon {
    color: var(--Primary);
}

#sidebarVersions:after {
//    content: url(/server/files/config/.theme/mainsail-heart.png) " Sailor ";
    //content:  " " url(/server/files/config/.theme/OnlySails.svg) " ";
//    content: " #onlysails ";
    //font-family: Play;
    font-size: x-large;
    display: block;
    padding-top: 4px;
    allign: center;
}

.v-application .pb-2 {
    //padding-bottom: 32px!important;
}

#nav-header {
    border-top: 3px solid var(--Primary);
}


/* red elements */
.v-application .red {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-application .red--text.text--darken-1 {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .error--text {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .red--text {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .error {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-toast__item--error{
    background-color: var(--Red) !important;
}

/* green elements */
.v-application .green--text {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-application .green {
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
}
.v-application .green--text.text--darken-1 {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-toast__item--success{
    background-color: var(--Green) !important;
}
#success1 path {
   fill: var(--Green) !important;
}


/* warnings and orange elements */
.v-application button.warning {
    background: var(--Warnings) !important;
    background-color: var(--Warnings);Orange) !important;
    border-color: var(--Warnings);Orange) !important;
}
.theme--dark.warning--text {
    color: var(--Warnings) !important;
}
.v-toast__item--warning{
    background-color: var(--Warnings) !important;
}
.v-application .orange {
    background: var(--Warnings) !important;
    background-color: var(--Warnings);Orange) !important;
}
#alert path {
   fill: var(--Warnings) !important;
}

/*.v-application .warning {
    background-color: var(--Warnings) !important;
    //border-color: var(--Secondary) !important;
    border-color: rgb(197 160 40 / 50%) !important;
}*/





svg.mr-3 {
   animation: pulse 1.5s infinite;
}
.mr-3:hover {
  box-shados: 0 0 5 0 var(--Primary);
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		//box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		//box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		//box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


/*
@-webkit-keyframes pulse {
   0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
   }
   70% {
      -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
   }
   100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
   }
}
@keyframes pulse {
   0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
   }
   70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 40px rgba(204, 169, 44, 0);
   }
   100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
   }
}
*/
