:root {
    --Primary:        #00AFF0;    /*Dracula:Purple*/
    --Secondary:      #FFFFFF;    /*Dracula:CurrentLine*/
    --Green:          #50fa7b;    /*Dracula:Green*/
    --Red:            #ff5555;    /*Dracula:Red*/
    --Warnings:       #ffb86c;    /*Dracula:Orange*/
    --Text:           #27272B;    /*Dracula:Foreground*/
    --DarkerText:     #27272B;    
    --Background:     #FFFFFF;    /*Dracula:CurrentLine*/
    --DarkBackground: #FFFFFF;    /*Dracula:Background*/
    --Toolbars:       #FFFFFF;    /*Dracula:CurrentLine*/
    --Sheets:         #FFFFFF;    /*Dracula:Background*/
}



#nav-header {
    padding: .75em 0 0 0;
    background-color: #FFF;
    display: block;
    border-bottom: none;
}
#nav-header img {
   height: 50px;
}
#nav-header .v-toolbar__title {
   margin-top: 7px;
   //background-color: #00AFF0;
   border-bottom: 1px solid #8A96A3 !important;
}
#sidebarVersions {
   color: #FFFFFF;
}



/* Change Color of text */
.v-btn__content .v-toolbar__title {
    color: var(--Text) !important;
}
.text--darken-2 {
    color: var(--Text) !important;
}
.subheading {
    color: var(--Text) !important;
}
.theme--dark.v-icon, .v-btn__content, .v-text-field__suffix {
    color: var(--Text) !important;
}
.theme--dark.v-input, .theme--dark.v-input input, .theme--dark.v-input textarea {
    color: var(--Text) !important;
}


/* Change Primary color */
.v-application .primary {
    background-color: var(--Primary) !important;
    border-color: var(--Primary) !important;
}
.v-application .primary--text {
    color: var(--Primary) !important;
    caret-color: var(--Primary) !important;
}
.v-application .blue--text {
    color: var(--Primary) !important;
    caret-color: var(--Primary) !important;
}
.v-application .info {
    background-color: var(--Primary) !important;
    border-color: var(--Primary) !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot:focus-within {
    border: thin solid var(--Primary) !important;
}
.v-text-field.v-text-field--solo .v-input__control input {
    caret-color: var(--Primary);
}
.theme--dark.v-color-picker .v-color-picker__input input {
    border: thin solid var(--Primary);
    color: var(--Text);
}


/* Change Secondary color */
.v-application .secondary {
    background-color: var(--Secondary) !important;
    border-color: var(--Secondary) !important;
}
.theme--dark.v-chip {
    color: var(--Text) !important;
    background-color: var(--Secondary) !important;
}



/* Change Background and Toolbars */
body {
    background-color: var(--Background);
}
.v-sheet {
    border-color: var(--Background);
}


/* Darkest Color / Grey darkend */

.theme--dark.v-application {
    background: var(--DarkBackground);
    color: var(--Text);
}
.v-application .grey.darken-3 {
    background-color: var(--DarkBackground) !important;
    border-color: var(--DarkBackground) !important;
}
.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: var(--DarkBackground) !important;
}
.theme--dark.v-data-table {
    background-color: var(--DarkBackground) !important;
}
.v-data-table>.v-data-table__wrapper>table  {
    background-color: var(--DarkBackground) !important;
}
.theme--dark.v-card {
    /*background-color: var(--DarkBackground);*/
}
.theme--dark.v-btn.v-btn--has-bg {
    background-color: var(--DarkBackground);
}


/* Sheets - such as "Controls" or "Temperatures */
.theme--dark.v-sheet {
    background-color: var(--Sheets);
}
.v-toolbar__content, .v-toolbar__extension {
    background-color: var(--Toolbars);
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}


/* The Icons
.mdi-set, .mdi:before {
    color: var(--Text);
}
*/


/* vCard and subtitle Text Color */
.theme--dark.v-card .v-card__subtitle, .theme--dark.v-card>.v-card__text {
    color: var(--DarkerText);
}

/* green elements */
.v-application .green--text {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-application .green {
    background-color: var(--Green) !important;
    border-color: var(--Green) !important;
}
.v-application .green--text.text--darken-1 {
    color: var(--Green) !important;
    caret-color: var(--Green) !important;
}
.v-toast__item--success{
    background-color: var(--Green) !important;
    color: #000 !important;
}


/* warnings and orange elements */
.v-application button.warning {
    background: var(--Warnings) !important;
    background-color: var(--Warnings);Orange) !important;
    border-color: var(--Warnings);Orange) !important;
}
.theme--dark.warning--text {
    color: var(--Warnings) !important;
}
.v-toast__item--warning{
    background-color: var(--Warnings) !important;
}
.v-application .orange {
    background: var(--Warnings) !important;
    background-color: var(--Warnings);Orange) !important;
}


/* red elements */
.v-application .red {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-application .red--text.text--darken-1 {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .red--text {
    color: var(--Red) !important;
    caret-color: var(--Red) !important;
}
.v-application .error {
    background-color: var(--Red) !important;
    border-color: var(--Red) !important;
}
.v-toast__item--error{
    background-color: var(--Red) !important;
}
