* :root {
   --color-primary: #f1f2f3;
   --v-btn-text-primary: #000000 !important;
}
#nav-header {
   padding: .5em 0 0 0;
   display: block;
   border-bottom: none;
   border-top: 3px solid #d4af37;
}
#nav-header img {
   height: 65px !important;
}
.v-application .mr-3 {
   margin-right: 0px !important;
}
